<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Testing</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            margin-top: 100px;
        }
    </style>
</head>

<body class="d-flex h-100 text-bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 flex-column">
        <!-- Navbar -->
        <div th:replace="navbar :: header"></div>
        <div class="d-flex w-100 h-100 p-2">
            <div class="d-flex w-100 h-100 justify-content-center" style="padding-bottom: 10%">
                <div class="card sm-1">
                    <div class="card-header">
                        <h3 class="card-title text-center">Run an API Test</h3>
                    </div>
                    <div class="card-body">
                        <form id="userTestingInput">
                            <div class="mb-3">
                                <label for="inputURL" class="form-label">API Endpoint (URL)</label>
                                <input type="text" class="form-control" id="url" placeholder="ie. 'www.google.com'">
                            </div>
                            <div class="mb-3">
                                <label for="inputPath" class="form-label">Path</label>
                                <input type="text" class="form-control" id="path" placeholder="ie. '/api/users'">
                            </div>
                            <div class="mb-3">
                                <label for="inputUsers" class="form-label">Amount of Users</label>
                                <input type="number" class="form-control" id="users"
                                    placeholder="(1-500) our servers are limited">
                            </div>
                            <div class="mb-3">
                                <label for="inputRamp" class="form-label">Ramp-up Time</label>
                                <input type="number" class="form-control" id="ramp" placeholder="(time in seconds)">
                            </div>
                            <div class="mb-3">
                                <label for="inputDuration" class="form-label">Duration</label>
                                <input type="number" class="form-control" id="duration" placeholder="(time in seconds)">
                            </div>
                            <div class="dropdown">
                                <label for="form-select" class="form-label">Server Location</label>
                                <br>
                                <select class="form-select" aria-label="Default select example" id="server">
                                    <option selected>Choose a Geographic Location to Run Your Test</option>
                                    <option value="Americas">Americas</option>
                                    <option value="Europe">Europe</option>
                                    <option value="Asia">Asia</option>
                                </select>
                            </div>
                            <br>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary" id="submitButton">
                                    <div id="defaultButtonValue">Start Test</div>
                                    <div id="submitButtonValue" style="display: none;">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">Running API Test...</span>
                                    </div>

                                </button>

                            </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <div>
            <div th:replace="footer :: footer"></div>
        </div>
    </div>

    <script>
        function disableSubmitButton() {
            document.getElementById('submitButton').disabled = true;
            document.getElementById('submitButtonValue').style.display = 'block';
            document.getElementById('defaultButtonValue').style.display = 'none';
        }

        document.getElementById('userTestingInput').addEventListener('submit', function (event) {
            disableSubmitButton();
            event.preventDefault(); // Prevent default form submission
            const formData1 = {
                url: document.getElementById('url').value,
                path: document.getElementById('path').value,
                users: document.getElementById('users').value,
                rampup: document.getElementById('ramp').value,
                duration: document.getElementById('duration').value,
                serverlocation: document.getElementById('server').value,
            };

            async function fetchData() {
                if (document.getElementById('server').value == 'Americas') {
                    //gonna change fetch url to america once i get server
                    const response = await fetch('http://64.23.222.181:8080/test', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData1)
                    });
                    return response;
                }
                else if (document.getElementById('server').value == 'Europe') {
                    //gonna change fetch url to europe once i get server
                    const response = await fetch('http://64.226.109.61:8080/test', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData1)
                    });
                    return response;
                }
                else if (document.getElementById('server').value == 'Asia') {
                    console.log(JSON.stringify(formData1))
                    //gonna change fetch url to asia once i get server
                    const response = await fetch('http://128.199.187.217:8080/test', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData1)
                    });
                    return response;
                }

            }

            let userid;

            //Get User ID
            fetch('/user/get')
                .then(response => { return response.text() })
                .then(data => {
                    userid = data;

                    //Fetch API Stats
                    fetchData().then(result => {
                        result.json().then(value => {
                            console.log(value);
                            console.log(value.responseTime);
                            var hi = document.getElementById('url').value + document.getElementById('path').value;
                            const formData2 = {
                                userid: userid,
                                datetime: value.date,
                                url: hi,
                                users: document.getElementById('users').value,
                                rampup: document.getElementById('ramp').value,
                                duration: document.getElementById('duration').value,
                                serverlocation: document.getElementById('server').value,
                                averageresponsetime: value.responseTime,
                                successrate: value.successRate,
                                htmlreportlink: value.htmlreportlink
                            };

                            // Send POST request
                            fetch('/testing/userinputs', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(formData2)
                            }).then(result=>{
                                window.location.replace("/dashboard");
                            });
                            
                        })
                    })
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });

        });

    </script>


</body>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</html>